<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>用户</title>
    </head>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/articleShow.js}"></script>
    <body>
        <div style="margin:0px auto; width:500px">
            <table>
                <tr>
                    <td>
                        <label for="title">标题: </label>
                    </td>
                    <td style="width: 300px;">
                        <input style="width: 300px;" type="text" id="title" name="title" th:value="${article.title}" readonly/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="summary">概述: </label>
                    </td>
                    <td style="width: 300px;height: 30px;">
                        <input style="width: 300px;height: 30px;" type="text" id="summary" name="summary" th:value="${article.summary}" readonly/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="mdContent">内容: </label>
                    </td>
                    <td style="width: 300px;height: 30px;">
                        <input style="width: 300px;height: 80px;" type="text" id="mdContent" name="mdContent" th:value="${article.mdContent}" readonly/><br/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="state">状态: </label>
                    </td>
                    <td>
                        <select id="state" name="state" disabled>
                            <option value="1" th:if="${article.state}==1">发布</option>
                            <option value="0" th:if="${article.state}==0">未发布</option>
                        </select>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <button id="back">返回</button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>